*{
  font-size: 1.5rem;
}

#tablica .row:nth-child(odd){
  background-color: lightblue;
}

#tablica .row:nth-child(even){
  background-color: lightgrey;
}

#tablica{
  /*font-size: 2rem;*/
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
    max-width: none;
  }
  * {
    font-size: 1.5rem;
  }
 }

